.background-image {
    background-image: url("./assets/vecteezy_clothing-donation-illustration_6916012.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
  }