.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddf1f7;
 /* background-image: linear-gradient(
  140deg,
  hsl(202deg 55% 53%) 0%,
  hsl(205deg 57% 51%) 4%,
  hsl(207deg 59% 49%) 7%,
  hsl(210deg 61% 47%) 11%,
  hsl(213deg 64% 45%) 15%,
  hsl(215deg 66% 43%) 19%,
  hsl(218deg 68% 41%) 22%,
  hsl(221deg 68% 40%) 26%,
  hsl(225deg 69% 38%) 30%,
  hsl(228deg 69% 36%) 34%,
  hsl(231deg 70% 34%) 38%,
  hsl(235deg 70% 32%) 43%,
  hsl(238deg 70% 30%) 48%,
  hsl(239deg 70% 28%) 53%,
  hsl(237deg 73% 23%) 60%,
  hsl(235deg 73% 19%) 67%,
  hsl(232deg 76% 15%) 75%,
  hsl(230deg 77% 10%) 83%,
  hsl(226deg 81% 6%) 91%,
  hsl(225deg 80% 2%) 100%
); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

form {
  background-color: white;
  border-radius: 10px;
  min-width: 20px;
  padding: 10px 10px 10px;
  margin: auto;
  font-family: "Roboto", cursive;
  color:#1d4ed8;
}

form .custom-checkbox {
  margin: 25px 0 25px;
}

.check-text {
  font-size: clamp(12px, 2vw, 14px);
}

form h2 {
  font-size: clamp(25px, 3vw, 40px);
  text-align: center;
}

form .input-box {
  margin-top: 20px;
}

.input-group {
  display: flex;
  border: 1px solid #7dd3fc;
}

.input-group input {
  border: 0;
  flex-grow: 1;
}

.input-group img {
  display: flex;
  justify-content: center;
  align-items: center;
}


.input-box .field {
  background-color: transparent;
  border:0;
  width: 100%;
  height: 45px;
  outline: none;
  font-size: 16px;
  padding: 15px;
  color: #333;
  margin-top: 8px;
}

.input-box .message {
  height: 200px;
  resize: none;
}

.input-box label {
  font-weight: 300;
  color: #1d4ed8;
}

form button {
  float: right;
  justify-content: center;
  align-items: center;
  width: 27%;
  height: 35px;
  background-color: dodgerblue;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Roboto", cursive;
  color: #fff;
  font-weight: 500;
  margin-top: 15px;
  transition: 0.5s;
  text-wrap: nowrap;
}

form button:hover {
  background: #2563eb;
}

@media all and (max-width: 30em) {
  a.button1 {
    display: block;
    margin: 0.4em auto;
  }
}
