.heading {
    text-align: center;
    font-weight: 900;
    font-size: clamp(45px, 4vw, 75px)
  }
  .heading-1 {
    text-align: center;
    font-weight: 300;
    font-size: clamp(25px, 4vw, 55px)
  }
  