.font-f {
  font-family: 'Roboto', cursive;
  font-weight: 300;
}


.loginSignup {
  background-image: url(./assets/vecteezy_volunteers-packing-donation-boxes_6901865.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}