.logo{
  height:180px;
  width: 180px;
  overflow: hidden;
  margin-top: -60px;
  margin-bottom: -30px;
}



.loginSignup {
  background-image: url(./assets/vecteezy_volunteers-packing-donation-boxes_6901865.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loginSignupDiv1 {
  position: relative;
  height: 400px;
  width: 400px;
  padding: 3rem;
  margin-top: 4rem;
  border-radius: 3%;
}

.loginSignupDiv2 {
  position: relative;
  height: 480px;
  width: 400px;
  padding: 3rem;
  margin-top: 4rem;
  border-radius: 3%;
}

.inputWidth {
  width: 300px;
  height: 42px;
}

.loginButton {
  width: 153px;
  height: 41.8px;
}

.background-image {
  background-image: url("./assets/vecteezy_clothing-donation-illustration_6916012.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}


.location-link {
  color: #00bfff;
  text-decoration: none;
  margin-bottom: 10px; 
  padding: 10px;
}



/* CARDS FOR CAROUSEL */
.card--pri {
  max-width: 280px;
  margin: auto 1rem;
  text-align: center;
  font-family: arial;
  padding-bottom: 10px;
}

.product--image {
  height: 18em;
 
}

.card--pri h2{
  font-size: 16px;
  padding-top: 10px;
}
.card--pri p{
  font-size: 16px;
  padding-bottom: 10px;
}
/* CARD CAROUSEL END */



.react-multiple-carousel__arrow  {
  background-color:blue;
  opacity: 0.6;
}


 .block{
  position: relative;
  display: flex;
  bottom: 60px;
  width: 75%;
  height: 8rem;
  background-color: dodgerblue;
  margin: auto;
  border-radius: 100px;

 }
 

.block , h1 {
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 15px;
  color: White;
  font-size: 40px;

}